<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Model</th>
        <th>Mileage</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>


    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.mileage}"></td>
        <td th:text="${car.age}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>